@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Montserrat:wght@400;700&display=swap');

/*---main---*/

body {
	background-color: #120028;
	background-image: url("img/background2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
	color: #FFFFFF;
	font-family: Inter;
	text-decoration: none;
	align-items: center;
}

a {
	text-decoration: none
}

.nobackground {
	background-image: none;
}

.upss {
	align-content: center;
	justify-content: center;
	margin: auto;
	padding-top: 80px;
	display: flex;
	width: 70%;
	height: 1080px;
}

.upss img {
	margin-top: 10%;
}

.upss section {
	height: 500px;
	align-items: center;
	padding: 0% 5%;
}

.upss section h3 {
	font-size: 30pt;
	width: 100%;
}

.errorp{
	padding: 50px 0px 0px
}

.navindex img, .menu, .notificacion, .titulo-media, .media, .iconosnav {
	display: none;
}

.main-inicio {
	width: 95%;
}

#infofechas, #main-como-llegar, #pantalla-foro {
	margin: 30px 100px;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
	width: 95%;
	margin-left: 45px;
    display: flex;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
}

.miniatura {
	width: 45px;
	height: auto;
	align-content: center;
}

nav ul li{
	margin: 10px 30px 10px 0px;
	list-style-type: none;
	font-size: 1em;
}

nav ul{
	display: flex;
    align-items: center;
}

nav a {
	color: #FFFFFF;
	border-bottom-style: none;
	text-decoration: none;
}

.atras-media {
	display: none;
}

.buscar {
	display: flex;
	flex-direction: row;
	width: 60%;
	height: 80px;
	margin-top: 2px;
	padding: 0px 10px;
}

.buscar img {
	margin: auto 10px auto 20px;
}

.buscar a img {
	margin: 20px 10px auto 20px;
}

.botonera {
	display: flex;
	flex-direction: row;
	height: 50px;
	margin-top: 2px;
}

.botonera img{
	margin: auto 20px;
}

#texto {
  	width: 60%;
    height: 30px;
    margin: 25px 0px 30px 0px;
	background-color: #BBBBBB;
	align-content: center;
	border-radius: 40px;
	padding: 0px 25px;
	font-size: 1em;
	opacity: 0.5;
}

nav a:hover {
	color: #A600A9;
}

#texto:hover {
	opacity: 1;
}

.navindex {
	justify-content: flex-end;
	padding-right: 50px;
	box-sizing: border-box;
}

h2 {
	font-size: 4.4em;
	width: 60%;
}

h3 {
	margin: 25px 0px 0px 0px;
	font-size: 2.2em;
	font-weight: 300;
	width: 55%;
}

.titulo {
	font-size: 1.8em;
	margin: 0px 0px 20px 0px;
	opacity: 1;
	color: #B7FFF4;
	width: 96%;
}

.subtitulofechas {
	font-size: 1.2em;
	width: inherit;	
}

h4 {
	font-weight: 300;
	color: #B7FFF4;
}


/*---inicio---*/

.textoprincipal, .subtitulos {
	padding-left: 70px;
	margin: 0px;
}

.textoprincipal h2 {
	width: 47%;
	margin-bottom: 40px;
}

.textoprincipal h3 {
	width: 35%;
	margin-bottom: 60px;
}

.boldmomimiu {
	margin: 0px;
	font-size: 2.5em;
}

.subtitulos {
	font-size: 1.5em;
	margin-top: 80px;
}

/*---carrusel---*/

.artistas-populares {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;
	width: 98%;
	height: 400px;
	overflow-x:scroll;
	margin-top: 0px
}

.artistas-populares::-webkit-scrollbar {
	width: 10px
}

.artistas-populares::-webkit-scrollbar:horizontal {
	background-color: #0D001D;
}

.artistas-populares::-webkit-scrollbar-thumb:horizontal {
	background: rgba(166,0,169,0.5);
	border-radius: 5px;
}

.artistas-populares a {
	position: relative;
	border-radius: 20px;
	height: 250px;
	object-fit: cover;
	margin:  0px 20px 0px 20px;
}

.artistas-populares a:hover {
	justify-content: center;
	transform: scale(1.3);
	height: auto;
	object-fit: cover;
	margin:  0px 30px 0px 30px;
	box-shadow: 0px 10px 20px #A600A9;
	transition: all 500ms;
	display: flex;
	align-items: center;
}

.artistas-populares p {
	color: #B7FFF4;
	justify-content: center;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	width: 300px;
	height: 230px;
	border-radius: 20px;
	background: rgba(54, 0, 122, 0.5);
	object-fit: cover;
	margin:  0px 20px 0px 20px;
	align-content: center;
	opacity: 0;
}

.artistas-populares p:hover {
	justify-content: center;
	transform: scale(1);
	object-fit: cover;
	margin: 0px;
	box-shadow: 0px 10px 20px #A600A9;
	transition: all 500ms;
	display: flex;
	align-items: center;
	background-color: rgba(166,0,169,0.5);
	border-radius: 20px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 20px;
	opacity: 1;
}

.artistas-populares img {
	position: relative;
	width: 300px;
	border-radius: 20px;
	height: 250px;
	object-fit: cover;
	margin: 0px;
}

.artistas-populares img:hover {
	justify-content: center;
	transform: scale(1.3);
	height: auto;
	object-fit: cover;
	margin: 0px;
	box-shadow: 0px 10px 20px #A600A9;
	transition: all 500ms;
	display: flex;
	align-items: center;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background: #B7FFF4;
	border-radius: 5px;
}

/*---index---*/

input {
	text-decoration: none;
	padding-right: 100px;
	margin-bottom: -3px;
	background: none;
	border: none;
}

.linea{
	border-bottom: solid thin;
	border-color: grey;
}

.atras{
	display: flex;
	align-content: center;
	align-self: center;
	justify-content: center;
}

.imgatras, .imgatras2{
	border-radius: 100%;
	padding: 5px;
	margin-left: 200%;
}

.imgatras{
	background-color: #BFFBFF;
}

.imgatras2{
	background-color: #A600A9;
}

.logotexto {
    display: flex;
	align-self: center;
    align-items: flex-start;
	padding: 60px 100px 220px 100px;
	margin: 0% 0% 5% 15%;
}

.logotexto img {
	width: 250px;
	height: auto;
}

.logotexto article {
	margin-left: 120px;
	font-size: 1.35em;
}

.logotexto article h2 {
	margin: 0px;
	font-size: 2.5em;
	font-weight: 900;
}

.logotexto article h3 {
	padding-bottom: 60px;
	margin-right: 0px;
}

.botoningresa, .botonregistrate {
	font-size: 0.9em;
	color: #FFFFFF;
	text-decoration: none;
	padding: 20px 50px 20px 50px;
	border-radius: 10px;
	box-shadow: 0px 1px 10px 0px #C7BCBC;
	opacity: 0.8;
	margin-left: 1px;
}

.botoningresa:hover{
	opacity: 1;
	}

.botonregistrate:hover {
	opacity: 1;
	}

.botoningresa {
	background-color: #5390D9;
}

.botonregistrate {
	background-color: #A600A9;
	margin-left: 20px;
}

#registro {
	margin-top: 150px;
}

#sesion, #registro {
	margin: 0% 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #EDECEC;
	border-radius: 40px;
	box-shadow: 5px 5px 30px 5px #0C041C;
	margin-bottom: 100px;
	padding: 0px 70px 20px;
}

.botonessesion, .botonesregistro {
	display: flex;
	justify-content: center;
	border-radius: 40px;
	font-size: 1em;
	margin-bottom: 30px;
	width: 50%;
	padding: 5px 50px;
	text-decoration: none;
}

.botonessesion{
	background-color: #BFFBFF;
	box-shadow: 3px 3px 10px 0px #BBBBBB;
	color: #150E23;
}

.botonesregistro{
	background-color: #A600A9;
	box-shadow: 3px 3px 10px 0px #BBBBBB;
	color: #FFFFFF;
}

.listoregistro, .listosesion {
	color: #FFFFFF;
	background-color: #A600A9;
	border-radius: 40px;
	box-shadow: 3px 3px 10px 0px grey;
	text-decoration: none;
	padding: 10px 30px;
	opacity: 0.5;
}

.listosesion {
	background-color: #B7FFF4;
	color: #120028;
}

.listosesion:hover, .listoregistro:hover {
	opacity: 1;
}

.titulosyr {
	margin-bottom: 30px;
	font-size: 1.4em;
	font-weight: 600;
	color: #120028;
	font-family: Inter;
}

.syrdatos {
	font-size: 1em;
	color: #120028;
	opacity: 0.5;
	margin: 0px 0px 20px 0px;
	display: flex;
	flex-direction: column;
	align-self: center;
}

footer {
	display: flex;
	flex-direction: row;
	background-color: #1F0A3D;
	color: #FFFFFF;
	font-size: 0.7em;
	font-family: Inter;
	padding: 10px 100px;
	box-sizing: border-box;
}

.footer {
	padding-left: 55%
}

footer a p{
	color: white;
	padding-left: 55%
}

footer p {
	padding-right: 20px;
	width: 180px
}

.footerc {
	padding-top:8px
}

/*---INFO FECHAS---*/


.carrusel1, .carrusel1 p, #otras-fechas p {
	display: flex;
}

.artistas a, .foro a {
	color: #A600A9;
	font-weight: 500;
}

.carrusel1 ul, #otras-fechas ul {
	margin: 0px 5px 15px;
	padding: 0px;
	opacity: 0.3;
}

.carrusel1 {
    justify-content: space-around;
	margin: 0px 0px 45px;
}

#otras-fechas ul:hover {
	opacity: 1;
}

.carrusel1 ul:hover,r {
	opacity: 1;
}

.carrusel1 ul p {
	margin: 0px;
}

.carrusel1 p, #otras-fechas p { 
	text-align: center;
	width: 80px;
	height: 100px;
	padding: 0px 10px 0px 10px;
	font-size: 1.6em;
	justify-content: center;
	align-items: center;
	background-color: #36007A;
	border-radius: 10px;	
}

.artistaymusica .lugaresconfirmados {
	display: flex;
	flex-direction: column;
}

.lugaresconfirmados {
	width: 550px;
}

.infocuadraditolargo {
	display: flex;
	align-items: row;
	align-items: center;
}

.infocuadraditolargo img, .fechaconfirmada {
	background-color: #B7FFF4;
	margin: 0px;
	border-radius: 20px 0px 0px 20px;
}

.fechaconfirmada {
	color: #120028;
	font-size: 1.5em;
	padding: 15px 17px;
	text-align: center;
	font-weight: 600;
}

.infocuadraditolargo img {
	padding: 20px 40px; 
}

.teatrolugar, .ubicacion {
	width: 550px;
	background-color: #A600A9;
	padding-right: 50px;
}

.teatrolugar {
	height: 88px;
	border-radius: 0px 20px 20px 0px;
	padding-left: 20px;
}

.teatrolugar li {
	list-style: none;
	font-size: 1.2em;
}

.teatrolugar li p {
	font-size: 1.5em;
	margin: 0px;
	padding-top: 15px;
}

.ubicacion {
	padding: 23px;
	border-radius: 0px 20px 20px 0px;
	font-size: 1.2em;
}

.proximasfechas{
	display: flex;
	flex-direction: row;
}

.boton-spotify, .textocentrado, .bordesuperior, .ver-nota {
	display: flex; 
	background-color: #A600A9;
	justify-content: center;
	padding: 10px;
	text-shadow: 1px 1px 4px #36007A;
	margin-top: 30px;
}

.ver-nota{
	border-radius: 20px 20px 20px 20px;
	margin-top: 0px;
	color: #FFFFFF;
}

.boton-spotify, .ver-nota{
	border-radius: 0px 0px 20px 20px;
	margin-top: 0px;
	color: #FFFFFF;
}

#infofechas a {
	text-decoration: none;
}

.textocentrado, .bordesuperior {
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 0px;
}

.boton-llegar {
	display: flex;
	justify-content: center;
	width: 30%;
	font-size: 1.2em;
	background-color: #36007A;
	border-radius: 10px;
	opacity: 0.8;
	position: relative;
	bottom: 190px;
    left: 250px;
}

.boton-llegar:hover {
	opacity: 1;
}

.boton-llegar a, .boton-ver-mas {
	text-decoration: none;
}

.boton-llegar p, .boton-ver-mas p{
	color: #FFFFFF;
}

.boton-ver-mas, .boton-ver-mas-foro {
	display: flex; 
	justify-content: center;
	border-radius: 10px;
}

.boton-ver-mas {
	background-color: #A600A9;
}

.boton-ver-mas-foro {
	background-color: #B7FFF4;
	margin-top: 15px;
}

.boton-ver-mas-foro p {
	color: #120028;
	font-weight: 500;
}

.carrusel2 {
	display: flex;
    flex-direction: column;
}

.carrusel2 img {
	margin-bottom: 15px;
}

.entradas {
	display: flex;
	justify-content: space-between;
	width: 70%;
	text-align: center;
	margin: 0px 0px 45px;
}

.entradas a p {
	background-color: #B7FFF4;
	padding: 25px;
	border-radius: 10px 10px 0px 0px;
	font-weight: 600;
	color: #120028;
	margin: 0px;
}

.disponibilidad {
	background-color: #A600A9;
	padding: 15px;
	border-radius: 0px 0px 10px 10px;
	margin-top: 0px
}


/*--todo css de como llegar--*/


#artistayfecha, .artistaymusica, #pantalla-foro {     /*ACA ESTA LO DEL FORO TAMBIEN */
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	height: auto;
}

.fecha, .hora-lugar {
	margin: 0px;
	padding: 0px;
}

.fecha-actual {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
	width: 500px;
	height: 140px;
}

.fecha {
	color: #120028;
	font-size: 1.6em;
	font-weight: 700;
	width: 30%;
	height: 140px;
	background-color: #B7FFF4;
	border-radius: 20px 0px 0px 20px;
	text-align: center;
	align-content: space-around;
}

.fecha p {
	margin: 30px 35px;
}

.hora-lugar {
	width: 70%;
	justify-content: center;
	height: 140px;
	background-color: #A600A9;
	border-radius: 0px 20px 20px 0px;
}

.hora-lugar li {
	list-style-type: none;
	margin: 10px 0px 10px 30px;
	width: 300px;
}

.hora-lugar li p{
	margin: 30px 0px 0px 0px;
	font-size:  1.6em;
}

/*--parte de los medios de transporte y mapa--*/


#como-llegar, .lugaresconfirmados, .informacionextra {
	width: 40%;
	height: auto;
}

#como-llegar article {
	margin-bottom: 50px;
}

#como-llegar h4 {
	font-size: 1.2em;
	margin: 30px 0px 20px 110px;
}

#como-llegar p {
	display: flex;
	align-items: center;
	color: #36007A;
	height: 70px;
	font-size: 1.3em;
	font-style: italic;
	background-color: #B7FFF4;
	border-radius: 20px;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 20px;
}

#como-llegar ul {
	width: 100%;
	height: 80px;
	padding: 0px ;
	margin: 0px ;
	display: flex;
	flex-direction: row;
}

#como-llegar img{
	width: 80px;
	height: 80px;
	margin: 0px 20px 0px 0px;
}

#como-llegar li {
	display: flex;
	width: 80px;
	height: 80px;
	padding: 0px ;
	margin: 0px 5px 0px 5px;
	font-size: 1.5em;
	justify-content: center;
	align-items: center;
	background-color: #36007A ;
	border-radius: 10px;
}

.transporte-media {
	width: 40%;
	display: none;
}

#mapa iframe, .mapainfo {
	opacity: 0.5;
}

#mapa:hover iframe {
	transition: all 500ms;
	opacity: 1;
}

/*--- Pantalla Foro 1 ---*/

#pantalla-foro, .perfilventa {
	display: flex;
	flex-direction: row;
}

.artistasinfo {
	display:flex;
	flex-direction: column;
}

.perfilventa, .artistasinfo { 
	align-items: center;
}
	
.infocuadrado {
	display: flex;
	height: 120px;
	margin: 20px 0px 0px 0px;
	justify-content: center;
	flex-direction: column;
	background-color: #A600A9;
	border-radius: 10px;
}

.infocuadrado p {
	font-size: 1.4em;
	padding-left: 30px;
	margin: 0px 50px 0px 0px;
}

.infocuadrado .tips-foro {
	font-size: 1.8em;
	padding-bottom: 2px;
	font-weight: 600;
}

.bordesuperior, .ver-nota {
	width: 480px;
}

.bordesuperior{
	height: 15px;
}

.perfilventa {
	padding: 0px 0px 0px 25px;
}

.perfilventa p {
	color: #B7FFF4;
	padding: 0px;
}

.perfilventa ul {
	margin: 0px;
}

.atras-media {
	background-color: #B7FFF4;
	padding: 15px;
	border-radius: 50px;
	box-shadow: 0px 1px 8px 2px #36007A;
	position: fixed;
	bottom: 50px;
	right: 20px;
}

.persona {
	font-size: 1.3em;
}

.perfilventa .accion {
	color: #A600A9;
	font-weight: 600;
}


 /*---media---*/

@media screen and (max-width : 600px ){
	
	body {
		background-image: none;
		margin: 0px;
	}
	
	header {
		margin: 0px;
	}
	
	.buscar {
		width: 600px;
	}
	
	#infofechas, .infocuadraditolargo, #pantalla-foro {
		display: flex;
		flex-direction: column;
		margin-top: 0px;
		padding-top: 0px;
		width: 90%;
	}
	
	#main-como-llegar {
		display: flex;
		flex-direction: column;
		margin: 0px auto;
		padding-top: 0px;
		width: 70%;
	}
	
	.nobackground .upss {
		display: flex;
		flex-direction: column-reverse;
		margin: 0px 0px 100px 50px ;
		height: 100vh;
	}
	
	.nobackground .navindex {
		display: flex;
		font-size: 0.8em;
		width: 85%;
	}
	
	main, #infofechas, #pantalla-foro {
		margin: 0% 15%;
		padding: 0%;
		width: 420px;
	}
	
	.main-inicio {
		width: 80%;
		margin: 0% 10%;
	}
	
	.nobackground main {
		display: flex;
		flex-direction: column;
	}
	
	.atras-media {
		display: flex;
		background-color: #B7FFF4;
		padding: 15px;
		border-radius: 50px;
		box-shadow: 0px 1px 8px 2px #36007A;
		position: fixed;
		bottom: 50px;
		right: 20px;
		opacity: 0.7;
	}
	
	.atras-media:hover {
		opacity: 1;
	}
	
	.navindex, .logotexto article h2, .logotexto article h3, .textoprincipal, .buscar form, .botonera ul, .subtitulos, .usuario, .imgatras, .imgatras2,.artistaymusica article, .titulo, .carrusel1, .carrusel2, .tu-ubicacion, #otras-fechas, .infocuadraditolargo, .fechaconfirmada, .teatrolugar, .artistasinfo iframe, .artistasinfo .bordesuperior, .ver-nota {
		display: none;
	}
	
	.pagina-como-llegar, .infocuadraditolargo, .logotexto, .botoningresa, .botonregistrate, iframe, .upss {
		margin: 0px;
	}
	
	.artistas-populares-media {
		width: 95%;
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
	}
	
	.artistas-populares-media img {
		width: 350px;
		margin: 0px;
	}
	
	nav {
		margin-left: 20px;
		width: 90%;
		box-sizing: border-box;
	}
	
	.menu, .notificacion {
		display: flex;
		padding-left: 20px;
	}
	
	.iconosnav {
		display: flex;
		align-items: center;
	}
	
	.logotexto {
		flex-direction: column;
		align-items: center;
	}
	
	.logotexto img {
		width: 200px;
		margin-bottom: 80px;
	}
	
	.logotexto article {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		margin: 0px;
	}
	
	.botonessesion {
		width: 300px;
		height: 40px;
		align-items: center;
		font-size: 16pt;
		font-weight: 500;
	}
	
	.botonesregistro {
		width: 300px;
		height: 40px;
		align-items: center;
		font-size: 16pt;
		font-weight: 500;
	}
	
	#email, #email2, #name, #password, #password2, #password3 {
		width: 300px;
	}
		
	.botoningresa {
		font-size: 1.5em;
		color: #120028; 
		background-color: #B7FFF4;
		padding: 15px;
	}
	
	.botonregistrate {
		padding-top: 30px;
		background: none;
		box-shadow: none;
		font-size: 0.9em;
	}
	
	.botonregistrate:hover{
		color: #A600A9;
	}
	
	#sesion, #registro {
		display: flex;
		align-items: center;
		background: none;
		box-shadow: none;
		margin: 80px 0px;
		padding: 0px;
		font-size: 1.2em;
	}
	
	.titulosyr {
		color: #B7FFF4;
	}
	
	.syrdatos {
		color: #B7FFF4;
		opacity: 0.7;
	}
	
	.botonesregistro {
		background-color: #B7FFF4;
		color: #120028;
	}
	
	.listoregistro, .listosesion {
		background-color: #B7FFF4;
		color:#120028; 
		margin-top: 50px;
	}
	
	.miniatura, .iconobuscar {
		height: 30px;
		width: auto;
	}
	
	.buscar .miniatura {
		margin-top: 23px;
	}
	
	.subtitulosmedia {
		display: flex;
		font-size: 1.5em;
	}
	
	.artistaymusica {
		margin-left: 0px;
	}
	
	#artistayfecha, #artistayfecha img, .artistaymusica img, .fecha-actual, .artistasinfo img {
		display: flex;
		width: 420px;
	}
	
	.artistaymusica img, #artistayfecha img {
		margin: 0px 0px 15px 0px;
	}
	
	article {
		width: 420px;
		padding: 0px;
		margin: 0px;
	}
	 	
	iframe {
		opacity: 0.5;
		width: 100%;
		height: 230px;
		border: 0px;
	}
	
	.titulo{
		padding-top: 30%;
		width: 200px
	}
	
	.subtituventa{
		padding-top: 5%
	}
	
	.titulo-media {
		width: 420px;
		display: flex;
		color: #B7FFF4;
		padding-bottom: 15px;
		font-size: 24pt;
	}
	
	.teatrolugar, .fechaconfirmada, .infocuadraditolargo {
		margin-top: 15px;
	}
	
	#artistayfecha, .artistaymusica {
		font-size: 0.8em;
	}
	
	.media {
		display: flex;
		flex-direction: column;
		font-size: 0.6em;
		margin: 0px;
		padding: 10px 0px 0px 0px;
		width: 480px;
	}
	
	.media a {
		width: 70%;
		margin: 0% 5%;
	}
	
	.fecha-actual {
		margin: 0px;
		height: 95px;
		margin-bottom: 30px;
	}
	
	.fecha, .hora-lugar {
		height: 100px;
		font-size: 1.3em;
	}
	
	.fecha {
		padding: 0px;
		margin: 0px;
		font-weight: 600;
		width: 20%;
	}
	
	.fecha p {
		font-size: 1.5em;
		margin: 22px 17px;
	}
	
	.hora-lugar {
		display: flex;
		flex-direction: column;
		color: #B7FFF4;
		width: 80%;
	}
	
	.hora-lugar li {
		display: flex;
		margin: 0px 0px 2px 20px ;
	}
	
	.hora-lugar li p {
		margin: 0px;
	}
	
	#como-llegar {
		margin-top: 20px;
		width: 100%;
	}
	
	#como-llegar h4 {
		margin: 20px 0px 10px 110px;
	}
	
	#como-llegar img {
		width: 20%;
		height: auto;
	}
	
	#como-llegar p {
		background-color: #A600A9;
		width: 80%;
		height: 80px;
		align-content: center;
		color: #B7FFF4;
		font-size: 1.3em;
		margin: 0px;
		font-style: normal;
	}
	
	#como-llegar ul {
		width: 100%;
		margin: 0px 0px 30px 0px;
		height: 80px;
	}
	
	#mapa {
		margin-top: 50px;
	}
	
	.boton-llegar {
		left: 0%;
		bottom: 120px;
		width: 40%;
		font-size: 1.1em;
		padding: 0px;
		margin: 0% auto 0% auto;
	}
	
	.mapainfo {
		height: 200px;
		margin-top: 15px;
	}
	
	.transporte-desktop {
		display: none;
	}
	
	.transporte-media {
		display: inline;
	}
	
	.upss section{
		padding: 0%;
		height: auto
	}
	
	.upss section h2 {
		margin: 0px 0px 20px;
		font-size: 3em;
	}
	
	.upss section h3 {
		margin: 0px;
		font-size: 1.1em;
		width: 450px;
		margin-top: 10px;
	}
	
	.upss section img {
		width: 300px;
		margin-left: 20%;
		margin-bottom: 0px;
	}
	
	.informacionextra h3 {
		display: flex;
	}
	
	.infocuadrado {
		height: 80px;
	}
	
	.infocuadrado p {
		padding: 0px 0px 0px 20px;
	}
	
	.infocuadrado p, .infocuadrado .tips-foro {
		font-size: 1.2em;
	}
	
	.entradascuadrado{
		padding-left: 6px;
	}
	
	.tuentrada{
		width: 100px;
	}
	
	.terminosycondiciones {
		display: none;
	}
	
	footer {
		margin: 10% 0% 0% 0%;
		box-sizing: border-box;
		padding: 5% 10% 5% 10%;
	}
	
	footer p {
		font-size: 1.3em;
	}
	
	.footermedia{
		display: none;
	}
}
