@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Montserrat:wght@400;700&display=swap');

/*---main---*/

body {
	background-color: #120028;
	background-image: url("img/background2.png");
	background-repeat: no-repeat;
	background-size: 100% 30%;
	margin: auto;
	color: #FFFFFF;
	font-family: Inter;
	text-decoration: none
}

h3 {
	font-weight: 300;
}

header, main{
	max-widht: 92%
}

nav {
    display: flex;
    flex-direction: row;
}

.miniatura {
    margin: 20px;
}

nav ul li{
	margin: 10px;
	list-style-type: none;
	font-size: 0.8em;
}

nav ul{
	display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
	color: #FFFFFF;
	border-bottom-style: none;
	text-decoration: none;
}

nav a:hover {
	color: #A600A9;
}

nav p {
	background-color: #BBBBBB;
	border-radius: 40px;
	padding: 12px 20px 0px 20px;
	font-size: 0.8em;
	width: 10%;
	opacity: 0.5;
}

nav p:hover {
	opacity: 1;
}

/*---inicio---*/

/*---carrusel---*/

.artistas-populares {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;
	width: 1800px;
	height: 400px;
	padding: 0px;
	margin: 100px 100px 0px 100px;
	overflow-x: scroll;
}

.artistas-populares a{
	position: relative;
	border-radius: 20px;
	height: 250px;
	object-fit: cover;
	margin:  0px 20px 0px 20px;
}


.artistas-populares a:hover {
	justify-content: center;
	transform: scale(1.3);
	height: auto;
	object-fit: cover;
	margin:  0px 30px 0px 30px;
	box-shadow: 0px 10px 20px #A600A9;
	transition: all 500ms;
	display: flex;
	align-items: center;
}

.artistas-populares p{
	color: #B7FFF4;
	justify-content: center;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	width: 300px;
	height: 250px;
	border-radius: 20px;
	background: rgba(54, 0, 122, 0.5);
	object-fit: cover;
	margin:  0px 20px 0px 20px;
	align-content: center;
}

.artistas-populares p:hover {
	justify-content: center;
	transform: scale(1);
	object-fit: cover;
	margin: 0px;
	box-shadow: 0px 10px 20px #A600A9;
	transition: all 500ms;
	display: flex;
	align-items: center;
	background-color: #EDECEC;
	border-radius: 40px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 20px;
}

/*---index---*/


.logotexto {
    display: flex;
   	flex-direction: row;
    justify-content: center;
    align-items: flex-start;
	padding: 60px 0px 220px 0px;
	margin-bottom: 100px;
}

.logotexto article {
	padding-left: 120px;
	font-size: 1.35em;
}

.logotexto article h2 {
	margin: 0px;
}

.logotexto article h3 {
	padding-bottom: 40px;
}

.botoningresa, .botonregistrate {
	font-size: 0.9em;
	color: #FFFFFF;
	text-decoration: none;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 1px 10px 0px #C7BCBC;
	opacity: 0.8;
}

.botoningresa:hover{
	opacity: 1;
	}

.botonregistrate:hover {
	opacity: 1;
	}

.botoningresa {
	background-color: #5390D9;
}

.botonregistrate {
	background-color: #A600A9;
	margin-left: 20px;
}

#registro {
	margin-top: 150px;
}

#sesion, #registro {
	margin: 0% 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #EDECEC;
	border-radius: 40px;
	box-shadow: 5px 5px 30px 5px black;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 20px;
}

.botonessesion, .botonesregistro {
	display: flex;
	justify-content: center;
	border-radius: 40px;
	font-size: 0.9em;
	margin-bottom: 30px;
	width: 50%;
	padding: 5px 50px;
	text-decoration: none
}

.botonessesion{
	background-color: #BFFBFF;
	box-shadow: 3px 3px 10px 0px #BBBBBB;
	color: #150E23;
}

.botonesregistro{
	background-color: #A600A9;
	box-shadow: 3px 3px 10px 0px #BBBBBB;
	color: #FFFFFF;
}

.listoregistro, .listosesion {
	color: #FFFFFF;
	background-color: #A600A9;
	border-radius: 40px;
	box-shadow: 3px 3px 10px 0px grey;
	text-decoration: none;
	padding: 10px 30px;
	opacity: 0.5;
}

.listosesion {
	background-color: #B7FFF4;
	color: #120028;
}

.listosesion:hover {
	opacity: 1;
}

.listoregistro:hover {
	opacity: 1;
}

.titulosyr {
	margin-bottom: 30px;
	font-size: 1.4em;
	color: #120028;
	font-family: Inter;
}

.syrdatos {
	font-size: 0.9em;
	color: #120028;
	opacity: 0.5;
	margin: 0px 0px 20px 100px;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.artistas-populares img{
	position: relative;
	width: 300px;
	border-radius: 20px;
	height: 250px;
	object-fit: cover;
	margin: 0px;
}

.artistas-populares img:hover {
	justify-content: center;
	transform: scale(1.3);
	height: auto;
	object-fit: cover;
	margin: 0px;
	box-shadow: 0px 10px 20px #A600A9;
	transition: all 500ms;
	display: flex;
	align-items: center;
	
}

hr {
	height: 1px;
	width: 270%;
	background-color: black;
	opacity: 0.5;
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #1F0A3D;
	color: #FFFFFF;
	font-size: 0.7em;
	font-family: Inter;
	padding: 0px 80px;
}

footer p {
	padding-right: 20px;
}

h4 {
	font-weight: 300;
	color: #B7FFF4;
}

 /*---media---*/

@media screen and (max-width : 600px){
	body {
		background-image: none;
	}
	
	nav {
		display: none;
	}
	
	.logotexto {
		flex-direction: column;
		align-items: center;
	}
	
	img {
		padding-bottom: 80px;
	}
	
	.logotexto article h2 {
		display: none;
	}
	
	.logotexto article h3 {
		display: none;
	}
	
	.logotexto article {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
	}
	
	.botoningresa {
		font-size: 1.2em;
		color: #120028; 
		background-color: #B7FFF4;
		padding: 15px;
	}
	
	.botonregistrate {
		padding-top: 20px;
		padding-left: 0px;
		background: none;
		box-shadow: none;
		font-size: 0.7em;
	}
	
	.botonregistrate:hover{
		color: #A600A9;
	}
	
	#sesion, #registro {
		display: flex;
		align-items: center;
		background: none;
		box-shadow: none;
		margin-top: 100px;
		margin-bottom: 100px;
		padding-bottom: 20px;
		margin: 40px;
	}
	
	.titulosyr {
		color: #B7FFF4;
	}
	
	.syrdatos {
		color: #B7FFF4;
		margin-left: 75px;
		opacity: 0.7;
	}
	
	hr {
		background-color: #B7FFF4;
		width: 350px;
		opacity: 0.7;
	}
	
	.botonesregistro {
		background-color: #B7FFF4;
		color: #120028;
	}
	
	.listoregistro {
		background-color: #B7FFF4;
		color:#120028; 
	}
	
	footer p {
		padding-left: 40px;
	}